<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.5"?>
<plugin>
	<extension
       name="org.eclipse.debug.core.launchConfigurationTypes"
       point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="shadow.plugin.editor.ShadowDocumentSetupParticipant"
            extensions="shadow,meta">
      </participant>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Shadow Editor"
            extensions="shadow"
            icon="icons/shadow_file.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="shadow.plugin.editor.ShadowEditor"
            id="shadow.plugin.editor.ShadowEditor">
      </editor>
      <editor
            name="Shadow Editor"
            extensions="meta"
            icon="icons/meta_file.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="shadow.plugin.editor.ShadowEditor"
            id="shadow.plugin.editor.ShadowEditor">
      </editor>
   </extension>
   <extension
   		point = "org.eclipse.core.filebuffers.annotationModelCreation">
   		<factory
   			extensions="*"
   			class="org.eclipse.ui.texteditor.ResourceMarkerAnnotationModelFactory">
   		</factory>
   </extension>
   <extension
      point = "org.eclipse.ui.preferencePages">
       <page
            class="shadow.plugin.preferences.PreferencePage"
            id="shadow.plugin.preferences.PreferencePage"
            name="Shadow">
      </page>
   </extension>
   <!--extension
   		point = "org.eclipse.ui.console.consoleFactories">
   		<consoleFactory
   			class = "shadow.plugin.launcher.ConsoleFactory"
   			icon = "icons/shadow.png"
   			label = "Shadow Build"
   			>
   		</consoleFactory>
   	</extension-->
   
   
   
   
   <extension 
   		point = "org.eclipse.debug.core.launchConfigurationTypes">
   		<launchConfigurationType
   				id = "org.shadow-language.launchConfigurationType"
   				name = "Shadow Application"   				
   				delegate = "shadow.plugin.launcher.ShadowLauncher"
   				modes = "run">
   		</launchConfigurationType>
   </extension>
   
   
   <extension
   		point = "org.eclipse.debug.ui.launchConfigurationTabGroups">
   		<launchConfigurationTabGroup
   			id = "org.shadow-language.basicLaunchTabGroup"
   			type = "org.shadow-language.launchConfigurationType"
   			class = "shadow.plugin.launcher.ShadowTabGroup"> <!--was ShadowLaunchTabGroup -->
   		</launchConfigurationTabGroup>
   	</extension>
   
   <!--
   <extension
   		point = "org.eclipse.debug.ui.launchConfigurationTypeImages">
   		<launchConfigurationTypeImage
   			id = ""
   			configTypeID = ""
   			icon = "">
   		</launchConfigurationTypeImage>
   	</extension>
   -->
   
   <!--
   <extension 
   		point = "org.eclipse.debug.core.launchDelegates">
   			<launchDelegate
   				id = "org.shadow-language.launchProfileDelegate"
   				delegate = "shadow.plugin.launcher.ShadowLauncher">
   			</launchDelegate>
   			
   			<modeCombination
   				modes = "run"
   				perspective = "">
   			</modeCombination>
   			
   	</extension>
   -->
   
   
   
   <extension
	    point="org.eclipse.debug.ui.launchShortcuts">
	    <shortcut
	        class="shadow.plugin.launcher.ShadowLaunchShortcut"
	        icon="icons/shadow.png"
	        id="org.shadow-language.shadowShortCut"
	        label="Shadow Application"
	        modes="run">
	        <contextualLaunch>
	            <enablement>
	                <with variable="selection">
	                    <count value="1"/>
	                    <iterate>
		                     <instanceof value="org.eclipse.core.resources.IFile"/>
		                     <test
		                           value="*.shadow"
		                           property="org.eclipse.debug.ui.matchesPattern"/>
                  		</iterate>
	                </with>
	            </enablement>
	        </contextualLaunch>
	    </shortcut>
	</extension>
   
   
   
   <!--
   <extension point="org.eclipse.debug.ui.launchShortcuts">
   		<shortcut
   				class = "org.eclipse.jdt.internal.debug.ui.launcher.JavaApplicationLaunchShortcut"
   				description = ""
   				helpContextId = "org.eclipse.jdt.debug.ui.shortcut_local_java_application"
   				icon = "$nl$/icons/full/etool16/java_app.gif"
   				id = "org.eclipse.jdt.debug.ui.localJavaShortcut"
   				label = "%JavaApplicationShortcut.label"
   				modes = "run">
   			<contextualLaunch>
   				<enablement>
   					<with variable = "selection">
   						<count value = "1"/>
   						 <iterate>
   						  <and>
   						   <adapt type = "org.eclipse.jdt.core.IJavaElement">
   						   		<test property = "org.eclipse.jdt.core.isInJavaProject"/>
   						   	</adapt>
   						   	<or>
   						   		<test property="org.eclipse.jdt.launching.hasMain"/>
   						   	</or>
   						   </and>
   						  </iterate>
   					</with>
   				</enablement>
   			</contextualLaunch>   			
   			<configurationType
   				id = "org.shadow-language.launchConfigurationType">
   			</configurationType>	
   			<description
   				description = "Compiles and runs shadow programs."
   				mode = "run">
   			</description>
   		</shortcut>
   </extension>
   -->
   
      
      
   <extension 
   		id="problemmarker"
   		point="org.eclipse.core.resources.markers"
   		name="error">
   		<persistent value="true" />
   		<attribute name="severity" />
   		<attribute name="message" />
   		<attribute name="location" />
   	</extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
   </extension>
   <extension
         point="org.eclipse.debug.core.launchModes">
   </extension>
</plugin>
