<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.5"?>
<plugin>
	<extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="shadow.plugin.editor.ShadowDocumentSetupParticipant"
            extensions="shadow">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Shadow Editor"
            extensions="shadow"
            icon="icons/shadow.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="shadow.plugin.editor.ShadowEditor"
            id="shadow.plugin.editor.ShadowEditor">
      </editor>
   </extension>
   <extension
      point = "org.eclipse.ui.preferencePages">
       <page
            class="shadow.plugin.preferences.PreferencePage"
            id="shadow.plugin.preferences.PreferencePage"
            name="Shadow">
      </page>
   </extension>
</plugin>